*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --text-colour:#757575;
    --titles-colour:#212121;
    --header-bcg-color:#FFFFFF;
    --firssecond-bcg-color:#F5F5F5;
    --portfolio-bottom-color:#F5F4FA ;
    --footer-bcg-color:#2F303A ;
    --logo-button-color:#2196F3;
    --active-button-color:#188CE8;
    --footer-bigtext-color:#ffffff;
    --footer-navtext-color: rgba(255,255,255,0.6);
}
body{
    font-family: 'Roboto','Montserrat',
        sans-serif;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    color:var(--text-colour);
    }

/* ---------------------------site config------------- */
img{
    display: block;
        max-width: 100%;
        height: auto;
    }
h1, h2, h3, a, p{
margin-top: 0;
margin-bottom: 0;
}
ul, li{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
margin-left: 0;
}
/* ----------------------------------header--------------- */

.page-header{
background-color: var(--header-bcg-color);
padding-top: 32px;
padding-bottom: 32px;
}
.page-header-container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items:center;
}
.header-nav{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
}
.site-nav{
display: flex;
}
/* .site-nav .item{
    padding-top: 34px;
    padding-bottom: 34px;
} */
/*.site-nav .item:last-child{
    margin-right: 0;
}*/
.site-nav .item + .item{
    margin-left: 50px;
}
.logo-site{
    margin-right: 94px;
}
.link.logo-site{
    font-family: 'Raleway'; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;}

.logo-first-color{
color:var(--logo-button-color);
}
.border-header {
    border-bottom-width: 1px;
    border-bottom-color: rgba(236, 236, 236, 1);
    border-bottom-style: solid;
}
/* --------------------site-main------------- */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.about{
    padding-top: 0;
}
.section.about{
    padding-top: 0;
}
.link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--titles-colour);
}

.link:hover,
.link:focus {
    color: var(--logo-button-color);
    cursor: pointer;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
}
.benefits{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    /* margin-right: auto;
    margin-left: auto; */;
}
.benefits-card{
    width: calc( ( 100% - 90px ) / 4);
}
/* .tasks{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
} */
.members{
    display: flex;
    flex-direction: row;
}
.member-card{
    width: calc( (100% - 90px ) / 4);
    margin-right: 30px;
    border: 1px solid color var(--text-colour);
    background-color: var(--header-bcg-color);
}
.member-card:last-child{
margin-right: 0;
}
.element{
    
}
.engaged {
    display: flex;
    flex-direction: row;
}
.engaged-element:last-child{
    margin-right: 0;
}
.engaged-element{
    width: calc( (100% - 60px ) / 3);
    margin-right: 30px;
}
.name-members-list{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--titles-colour);
        margin-bottom: 10px;
}
.professions-list{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-colour);
}
.header-links~.link{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--titles-text-colour);
}

.navigation{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--first-text-colour);
}
.list{ list-style: none;
}
.main-theme{
background-color:var(--footer-bcg-color);
text-align: center; 
padding-top: 200px;
padding-bottom: 200px;
}

.visually-hidden{
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

.first-section{
    display: flex;
    background-color: var(--firssecond-bcg-color);
}
.third-section{
    background-color: var(--portfolio-bottom-color);
}
/* -------------------button-settings----------- */
.button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--logo-button-color);
    color: var(--header-bcg-color);
    border: 0;
    padding: 10px 32px;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: var(--active-button-color);
    color: var(--header-bcg-color);
    cursor: pointer;
}

.portfolio-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--portfolio-bottom-color);
    color: var(--titles-colour);
}

.portfolio-button:hover,
.portfolio-button:focus {
    cursor: pointer;
    background-color: var(--logo-button-color);
    color: var(--header-bcg-color);
}

/* -------------------------------Titles---------------- */
.first-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--footer-bigtext-color);
    margin-bottom: 30px;
}

.title-second-row {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titles-colour);
    margin-bottom: 50px;
}

.title-third-row {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titles-colour);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.description-member{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* ------------------------footer----------------------- */
.block{
    display: inline-block;
    padding-right: 0;
}
.page-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-color:var(--footer-bcg-color);
    color:var(--footer-bigtext-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--footer-bigtext-color);
    margin-bottom: 20px;
}
.firm-address{
    font-style: normal;
}
.footer-links-list>li:not(:last-child){
margin-bottom: 9px;
}
.footer-adress-link{
    color:var(--footer-bigtext-color);
}
.footer-nav-link{
    color: var(--footer-navtext-color);
}

/* -----------------portfolio page--------------- */

.portfolio-hero{
    background-color: var(--header-bcg-color);
}
.portfolio-titles-list{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--titles-colour);
    margin-bottom: 4px;
}
.jobs-description-list{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-colour);
}
.portfolio-button-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: baseline;
}
.portfolio-button{
    border:0;
    border-radius: 4px;
    padding: 6px 22px;
}
.indent{
    margin-bottom: 50px;
}
.portfolio-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /* gap:30px; */
}
.product-card{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(238, 238, 238, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(238, 238, 238, 1);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color:rgba(238, 238, 238, 1);
    
}
.flex-element{
    width: calc( (100% - 60px) / 3);
}
.flex-element:nth-child(3n){
    margin-right: 0;
}